<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>CRM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.crm.servlet.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/checkLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <servlet-class>com.crm.servlet.CheckRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRegisterServlet</servlet-name>
    <url-pattern>/checkRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.crm.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCustInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.AddCustInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustInfoServlet</servlet-name>
    <url-pattern>/addCustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCustInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyCustInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCustInfoServlet</servlet-name>
    <url-pattern>/modifyCustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCustInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.DeleteCustInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustInfoServlet</servlet-name>
    <url-pattern>/deleteCustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryCustInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.QueryCustInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCustInfoServlet</servlet-name>
    <url-pattern>/queryCustInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCtcInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.AddCtcInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCtcInfoServlet</servlet-name>
    <url-pattern>/addCtcInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCtcInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyCtcInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCtcInfoServlet</servlet-name>
    <url-pattern>/modifyCtcInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCtcInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.DeleteCtcInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCtcInfoServlet</servlet-name>
    <url-pattern>/deleteCtcInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryCtcInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.QueryCtcInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCtcInfoServlet</servlet-name>
    <url-pattern>/queryCtcInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOppInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.AddOppInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOppInfoServlet</servlet-name>
    <url-pattern>/addOppInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyOppInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyOppInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOppInfoServlet</servlet-name>
    <url-pattern>/modifyOppInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOppInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.DeleteOppInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOppInfoServlet</servlet-name>
    <url-pattern>/deleteOppInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddOfrInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.AddOfrInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOfrInfoServlet</servlet-name>
    <url-pattern>/addOfrInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyOfrInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyOfrInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOfrInfoServlet</servlet-name>
    <url-pattern>/modifyOfrInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteOfrInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.DeleteOfrInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOfrInfoServlet</servlet-name>
    <url-pattern>/deleteOfrInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddDealInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.AddDealInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDealInfoServlet</servlet-name>
    <url-pattern>/addDealInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyDealInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyDealInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyDealInfoServlet</servlet-name>
    <url-pattern>/modifyDealInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDealInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.DeleteDealInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDealInfoServlet</servlet-name>
    <url-pattern>/deleteDealInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddLogInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.AddLogInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLogInfoServlet</servlet-name>
    <url-pattern>/addLogInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyLogInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyLogInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyLogInfoServlet</servlet-name>
    <url-pattern>/modifyLogInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteLogInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.DeleteLogInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLogInfoServlet</servlet-name>
    <url-pattern>/deleteLogInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCrmInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.AddCrmInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCrmInfoServlet</servlet-name>
    <url-pattern>/addCrmInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCrmInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyCrmInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCrmInfoServlet</servlet-name>
    <url-pattern>/modifyCrmInfoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteCrmInfoServlet</servlet-name>
    <servlet-class>com.crm.servlet.DeleteCrmInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCrmInfoServlet</servlet-name>
    <url-pattern>/deleteCrmInfoServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ModifyCrmPwdxServlet</servlet-name>
    <servlet-class>com.crm.servlet.ModifyCrmPwdxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCrmPwdxServlet</servlet-name>
    <url-pattern>/modifyCrmPwdxServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.crm.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>com.crm.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
    <filter>
    <filter-name>PermissionXFilter</filter-name>
    <filter-class>com.crm.filter.PermissionXFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionXFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
</web-app>